@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="static-page-container">
    <div class="static-header">
        <h1>Biz Kimiz?</h1>
        <p>Eğlence dünyasının dijital kapısı.</p>
    </div>
    <div class="static-content">
        <h3>Misyonumuz</h3>
        <p>BiletBul olarak amacımız, kullanıcılarımızı en kaliteli etkinliklerle buluşturmak ve şeffaf bir rezervasyon süreci sunmaktır.</p>

        <h3>Neden Biz?</h3>
        <ul>
            <li>Güvenilir Organizatörler</li>
            <li>Yapay Zeka Destekli Gerçek Yorumlar</li>
            <li>Kolay ve Hızlı Rezervasyon</li>
        </ul>
    </div>
</div>